{% extends 'base_template.html' %}
{% load i18n %}





{% block content %}
    {% if user.is_authenticated %}yes {% endif %}

        <div class="content">
        
            {% if form.errors %}
                <div class="alert alert-block fade in">
                    <a class="close" data-dismiss="alert" href="#">×</a>
                    <p><strong>{% trans "Oh snap!" %}</strong> {{ form.non_field_errors }}</p>
                </div>
            {% endif %}
            <form action="" method="post" id="registration-form">{% csrf_token %}
                <fieldset>
                    <legend>{% trans 'Sign up' %}</legend>
                    {% for field in form %}
                        {% include 'registration/form_field.html' %}
                    {% endfor %}
                    <div class="actions">
                        <input type="submit" class="btn primary" value="{% trans 'Sign up' %}">&nbsp;<button type="reset" class="btn">{% trans 'Cancel' %}</button>
                    </div>
                </fieldset>
            </form>
            <p>Already a member? <a href="{% url "django.contrib.auth.views.login" %}">{% trans "Log in" %}</a></p>
            <script type="text/javascript">
                $(function(){
                    $(".alert-message").alert();
                    $('#mainForm').submit(function(){
                        $('#submit').button('loading');
                    })
                });
                document.forms[1].elements[2].focus();
            </script>
        </div>

{% endblock %}