{% extends "base_template.html" %}

{% block content %}
    {% if msg_success %}
    <table class="table table-striped">
        <tr  class="success"><td>{{ msg_success }}</td></tr>
    </table>
    {% endif %}
<h1>Welcome to the polls page, {% if user.username  %}{{ user.username }} {% else %}Guest {% endif %}</h1>
<h2><a href="/polls/add">Add new poll</a></h2>

{% if poll_list %}
    <ul>
        {%  for poll in poll_list %}
            <li>
                <a href="/polls/{{ poll.id }}/">{{ poll.question }}</a>
            </li>
        {%  endfor %}
    </ul>
{%  else %}
<p>No polls available</p>
{%  endif %}

{% endblock %}